<div class="Header">
    <ul class="menuDesplegable">
      <li><a href="">Inicio</a></li>
      <li><a href="">Jugadores</a>
        <ul>
          <li><a [routerLink]="['./jugadores']">Crear Jugadores</a></li>
          <li><a href="">Modificar Jugadores</a></li>
        </ul>
      </li>
      <li><a href="">Partidos</a>
        <ul>
          <li><a href="">Crear Partidos</a></li>
          <li><a href="">Modificar Partidos</a></li>
        </ul>
      </li>
      <li><a href="">Contacto</a></li>
    </ul>
</div>

